.forgetPassword {
  max-width: 350px;
  margin: 30% auto;
  border-radius: 20px;
  border: 3px solid #efa24b;
  background-color: #fff;
  padding: 5% 5% 5% 5%;
}
.heading {
  text-align: center;
}
.overEfact {
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.overEfact::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: #f1a638;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.overEfact:hover::after {
  width: 100%;
  left: 0;
  background: #f1a638;
}
@media (max-width: 991px) {
  .forgetPassword {
    padding: 2% 2% 2% 2%;
    margin: 10% 15px;
    max-width: 100%;
    height: auto;
  }
}
