.menuStyle {
  padding: 4px 0px;
  width: 100%;
}
.menuStyle .ant-btn.ant-btn-default.ant-btn-compact-item.ant-btn-compact-first-item {
  width: 220px;
  text-align: left;
}
.menuStyle .ant-btn-default {
  border-color: #f1f1f1 !important;
  box-shadow: none;
}
body.dark-mode .menuStyle .ant-btn-default {
  border-color: #2a2828 !important;
  box-shadow: none;
}
.menuStyle .ant-btn {
  border-radius: 0px;
  box-shadow: none;
}
.floatRight .ant-btn-primary.ant-btn-icon-only.ant-input-search-button {
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.candidates {
  border-radius: 7px;
}
.candidates-details {
  padding: 4px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
  position: relative;
}
.floatRight .ant-input-outlined {
  border-radius: 0px;
}

body.dark-mode .candidates-details {
  border: 1px solid #2a2828;
}
.candidates-details .ant-typography ul li,
.candidates-details .ant-typography ol li {
  margin-inline: -6px 0;
}
.floatRight {
  float: right;
}

@media (max-width: 767px) {
  .dNone {
    display: none;
  }
  .menuStyle {
    padding: 2px;
  }
}
