.menuStyle {
  padding: 15px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.menuStyle .ant-btn.ant-btn-default.ant-btn-compact-item.ant-btn-compact-first-item {
  width: 220px;
  text-align: left;
}
.menuStyle .ant-btn-default {
  border-color: transparent !important;
  box-shadow: none;
}
.menuStyle .ant-btn {
  border-radius: 0px;
  box-shadow: none;
}
.candidates {
  border-radius: 7px;
}
.candidates-details {
  padding: 4px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.candidates-details .ant-typography ul li,
.candidates-details .ant-typography ol li {
  margin-inline: -6px 0;
}
.floatRight {
  float: right;
}
