.bannerSectionAbout.service {
   background-image: url(/home/service/Mask-group.png);
   padding: 110px 0px;
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px auto;
}

.blogSingle img {
   border-radius: 8px;
}

@media(max-width:991px) {
   .bannerSectionAbout.service {
      padding: 60px 0px;
   }
}

.sidebarWidget {
   display: flex;
   gap: 10px;
   align-items: center;
}

ul.sidebarTag {
   display: flex;
   gap: 10px;
}

ul.socialShare {
   display: flex;
   gap: 10px;
   float: right;
}

.blogMeta {
   display: flex;
   align-items: center;
   gap: 15px;
}

.tag1 {
   display: flex;
   align-items: center;
   gap: 5px;
}

.tag1 a {
   color: #073e74 !important;
}

.borderBox {
   padding-left: 30px;
   border-left: 4px solid #073e74;
}

.sidebarTag a {
   display: inline-block;
   border-radius: 5px;
   padding: 8px 15px;
   font-size: 14px;
   font-family: "Barlow", sans-serif;
   font-weight: 400;
   color: #666666;
   line-height: 18px;
   background: #f9f9f9;
   background-color: rgb(249, 249, 249);
   transition: all 0.3s linear;
}

.card__header img {
   height: 290px !important;
   object-fit: cover;
   width: 100%;
   border-radius: 8px;
}


.card__body {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: .5rem;
}


.tag {
   align-self: flex-start;
   padding: .25em .75em;
   border-radius: 1em;
   font-size: .75rem;
}

.tag+.tag {
   margin-left: .5em;
}

.tag-blue {
   background: #56CCF2;
   background: linear-gradient(to bottom, #2F80ED, #56CCF2);
   color: #fafafa;
}

.card__body h4 {
   font-size: 1.5rem;
   text-transform: capitalize;
}

.card__footer {
   display: flex;
   padding: 1rem;
   margin-top: auto;
}

.user {
   display: flex;
   gap: .5rem;
}

.user__image {
   border-radius: 50%;
}

.user__info>small {
   color: #666;
}
