.login-container {
  background-color: #fff;
  width: 100%;
  transition-property: border-radius, height;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.background-color {
  background-color: #344734;
}
@media (max-width: 767px) {
  .login-container {
    height: auto;
    background-color: #344734;
  }
}
@media screen and (min-width: 700px) {
  .login-container {
    height: auto;
    background-color: #344734;
  }
}
