.selectFiled {
  width: 100% !important;
  background: #fff0 !important;
  color: #012A59 !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  letter-spacing: -0.22px !important;
}
