.customContainer,
.customContainer-fluid,
.customContainer-lg,
.customContainer-md,
.customContainer-sm,
.customContainer-xl,
.customContainer-xxl {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.customContainer {
  max-width: 1140px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
.textEnd {
  text-align: end !important;
}
.textCenter {
  text-align: center;
}
.floatEnd {
  float: right;
}
.dBlock {
  display: block;
}
.gapMarginTop {
  margin-top: 60px !important;
}
.gapMarginTopOne {
  margin-top: 10px !important;
}
.gapMarginTopTwo {
  margin-top: 20px !important;
}
.gapPaddingTopOne {
  padding-top: 10px !important;
}
.gapPaddingTopOTwo {
  padding-top: 20px !important;
}
.largeTopMargin {
  margin-top: 30px !important;
}
.paddingBottomOne {
  padding-bottom: 10px !important;
}
.paddingBottomTwo {
  padding-bottom: 20px !important;
}
.smallTopMargin {
  margin-top: 10px;
}
/* Custom responsive table CSS */
.customResponsiveTable {
  width: 100%;
}

.customResponsiveTable .ant-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.layOutStyle.add-remove.chat-remove-padding {
  padding: 42px 0px 0px 14px;
}
@media (min-width: 1440px) {
  .customContainer {
    max-width: 1520px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }
  .layOutStyle {
    padding: 4% 2% 0% 0%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .layOutStyle {
    padding: 4% 2%;
  }
  .layOutStyle.add-remove {
    padding: 0% 2%;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .layOutStyle {
    padding: 6% 2%;
  }
  .layOutStyle.add-remove {
    padding: 5% 2%;
  }
}
@media (max-width: 1200px) {
  .layOutStyle.add-remove.chat-remove-padding {
    padding: 12px 0px 0px 0px;
  }
}

@media (max-width: 991px) {
  .layOutStyle {
    padding: 4% 2%;
  }
  .layOutStyle.add-remove {
    padding: 0% 2%;
  }
  .layOutStyle.add-remove.chat-remove-padding {
    padding: 9px 0px 0px 0px;
  }
}

@media (max-width: 575px) {
  .layOutStyle {
    padding: 6% 2%;
  }
  .layOutStyle.add-remove {
    padding: 0% 2%;
  }
}
