.customContainer,
.customContainer-fluid,
.customContainer-lg,
.customContainer-md,
.customContainer-sm,
.customContainer-xl,
.customContainer-xxl {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.customContainer {
  max-width: 1140px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
.textEnd {
  text-align: end !important;
}
.textCenter {
  text-align: center;
}
.floatEnd {
  float: right;
}
.dBlock {
  display: block;
}
.gapMarginTop {
  margin-top: 60px !important;
}
.gapMarginTopOne {
  margin-top: 10px !important;
}
.gapMarginTopTwo {
  margin-top: 20px !important;
}
.gapPaddingTopOne {
  padding-top: 10px !important;
}
.gapPaddingTopOTwo {
  padding-top: 20px !important;
}
.largeTopMargin {
  margin-top: 30px !important;
}
.paddingBottomOne {
  padding-bottom: 10px !important;
}
.paddingBottomTwo {
  padding-bottom: 20px !important;
}
.smallTopMargin {
  margin-top: 10px;
}
/* Custom responsive table CSS */
.customResponsiveTable {
  width: 100%;
}

.customResponsiveTable .ant-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.layOutStyle {
  padding: 4% 2%;
}
@media (min-width: 1440px) {
  .customContainer {
    max-width: 1520px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .layOutStyle {
    padding: 6% 2%;
  }
}

.chatMan {
  display: flex;
}
.leftChatBar {
  width: 16%;
}
.rightChatBar {
  width: 86%;
  padding-left: 25px;
}
@media (min-width: 1367px) and (max-width: 1800px) {
  .rightChatBar {
    padding-left: 20px;
  }
}

@media (max-width: 1366px) {
  .rightChatBar {
    width: 86%;
    padding-left: 18px;
  }
}

@media (max-width: 1200px) {
  .leftChatBar {
    width: unset;
  }
  .rightChatBar {
    width: 100%;
    padding-left: 0px;
  }
}
