<!doctype html>
<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reset Password</title>
	</head>
	<body>
		<p>
			We received a request to reset your password. If you made this request, please click the link below to reset
			your password:
		</p>
		<p>
			<a href="<%= resetUrl %>" target="_blank"> Reset Password </a>
		</p>
		<p>If you didn't request a password reset, you can ignore this email.</p>
		<p>Best regards,<br />Study Buddy</p>
	</body>
</html>
