/* .boxInbox {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    padding-top: 4%;
} */

.tabsInbox {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.messages {
  border-radius: 8px;
  border: 1px solid #cfe5ff;
  background: #eef0f2;
  padding: 10px;
  margin-bottom: 10px;
}

.messagesWhite {
  border-radius: 8px;
  border: 1px solid #ebf4ff;
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
}

.marginLeft {
  margin-left: 10px;
}
