.product-content .price {
  color: #344734;
  font-size: 17px;
  font-weight: 700;
}

.product-content .price span {
  color: #999;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 5px;
  display: inline-block;
}
.offer {
  padding: 4px 10px !important;
  border-radius: 30px !important;
  color: #000 !important;
  font-size: 12px !important;
  background-color: #facca4 !important;
}
.imageChat img {
  width: 30px;
}
