.product-content .price {
  color: #344734;
  font-size: 19px;
  font-weight: 700;
  display: flex;
}

.product-content .price svg {
  color: #344734;
}

.product-content .price span svg {
  color: #999;
}

.product-content .price span {
  color: #999;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 5px;
  display: flex;
}

.offer {
  padding: 2px 10px 0px !important;
  border-radius: 30px !important;
  color: #000 !important;
  font-size: 12px !important;
  background-color: #facca4 !important;
}

.imageChat img {
  width: 30px;
}

.product-content p,
span {
  font-family: 'Helvetica', sans-serif !important;
}

.slick-slide img {
  width: 100%;
  height: auto;
}
