.voiceButton {
  border: none;
  padding: 0;
  border-radius: 100%;
  margin: 0;
  position: relative;
  z-index: 999;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
}

.pulse-ring {
  width: 30px;
  height: 30px;
  background: rgb(173, 176, 179);
  border: 3px solid rgb(173, 176, 179);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  /* Adjust positioning as needed */
  left: -5px;
  /* Adjust positioning as needed */
  animation: pulsate infinite 1.5s;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  100% {
    transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

.buttonApproved svg {
  color: #efa24b !important;
}

.buttonNotApproved svg {
  color: #f9dcbb !important;
}
