.faqSection {
  background-color: #eac38b;
  padding: 3%;
}
.features-main {
  padding: 3%;
}
.faqSection-text {
  padding: 4% 18%;
}
.mainHeading {
  padding: 0px 2% 0px 12%;
}

@media (max-width: 1440px) {
  .mainHeading {
    padding: 0px 0% 0px 4%;
  }
}

@media (max-width: 991px) {
  .faqSection-text {
    padding: 4% 0%;
  }
  .mainHeading {
    padding: 0px 0% 0px 0%;
  }
  .features-main {
    padding: 0%;
  }
}
