.faqSection {
  position: relative;
  padding: 3%;
  overflow: hidden;
}

#backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(234, 195, 139, 0.7); /* Overlay color with transparency */
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}

.features-main {
  padding: 3%;
}
.faqSection-text {
  padding: 4% 18%;
}
.mainHeading {
  padding: 0px 2% 0px 12%;
}

@media (max-width: 1440px) {
  .mainHeading {
    padding: 0px 0% 0px 4%;
  }
}

@media (max-width: 991px) {
  .faqSection-text {
    padding: 4% 0%;
  }
  .mainHeading {
    padding: 0px 0% 0px 0%;
  }
  .features-main {
    padding: 0%;
  }
}
