/* InnerBanner Section */
.innerBannerAbout {
  background-color: #344734;
  overflow-x: hidden;
  padding: 10% 0px;
  position: relative;
}

.about-info {
  padding-top: 10%;
}
@media (max-width: 1200px) {
  .about-info {
    padding-top: 16%;
  }
}

@media (max-width: 991px) {
  .about-info {
    padding-bottom: 10%;
    padding-top: 15%;
  }
  .about-info.about-remove {
    padding: 0px;
    padding-bottom: 10%;
  }
}

@media (min-width: 1200px) {
  .waves {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
  }

  .bannerImage {
    animation: MoveUpDown 10s linear infinite;
    padding-top: 80px;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .waves {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
  }

  .innerBannerAbout {
    padding: 2% 0px;
  }
}
