/* InnerBanner Section */
.innerBannerAbout {
  background-color: #344734;
  overflow-x: hidden;
  padding: 10% 0px;
  position: relative;
}
.about-info {
  padding-top: 20%;
}

@media (max-width: 991px) {
  .about-info {
    padding-top: 0%;
  }
}

@media (min-width: 1200px) {
  .waves {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
  }
  .bannerImage {
    animation: MoveUpDown 10s linear infinite;
    padding-top: 80px;
  }
  .about-info {
    padding-top: 20%;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
