.checkboxWrapper span {
    color: #A9A9A9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.modalCheckbox {
    margin-top: 7px;
}

.modalCheckbox .ant-checkbox-checked span {
    background: #0f43e6;
}

.modalCheckbox.checkboxWrapper {
    padding-left: 0;
}

.modalCheckbox span.ant-checkbox-inner::after {
    width: 6px;
    height: 11px;
    left: 7px;
}