.customTextArea textarea.ant-input {
  border: none;
}

.customTextArea .ant-input-outlined:focus {
  box-shadow: none;
}

.replyDivBorder {
  border: 2px solid #344734 !important;
  border-radius: 16px !important;
  padding: 10px !important;
  margin-bottom: 16px !important;
  margin-top: 16px !important;
}
.replyDivBorder svg {
  color: #344734;
}
.pLeft {
  padding-left: 20px !important;
}
.commentsFlex {
  display: flex;
  gap: 8px;
}
.backArrowIcon {
  font-size: 17px;
  border-radius: 50%;
  background: #f1a638;
  color: #fff;
  padding: 5px;
}

.descriptionMargin {
  margin-left: 48px;
}

.orange-color {
  color: #f2a638;
}
.likeCommentRadius {
  border-radius: 20px;
  color: #f1a638;
}

.question {
  border: 1px solid #f1a638;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 16px;
}

.body.dark-mode .question {
  border: 2px solid #686868;
}

@media (max-width: 991px) {
  .question {
    margin-top: 10px;
  }
  .commentsFlex {
    display: block;
  }
  .pLeft {
    padding-left: 12px !important;
  }
  .descriptionMargin {
    margin-left: 0px;
  }
  .gapSection {
    margin-bottom: 10px;
  }
}
