.boxInbox {
  border-radius: 8px;
  padding: 20px;
  padding-top: 4%;
}

.likeCommentRadius {
  border-radius: 20px;
  padding: 9px;
  color: #f1a638;
}

.question {
  border: 1px solid #f1a638;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 16px;
}
