.bannerImages {
  background-color: #344734;
  width: 100%;
  padding: 2% 0%;
  position: relative;
}

/* CSS */
.button-67 {
  background: #f1a638;
  border: 0;
  border-radius: 50px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline;
  font-size: 1rem;
  margin-top: 4%;
  font-family: 'IBM Plex Mono', monospace !important;
  padding: 20px 20px;
}

.bannerImage {
  animation: MoveUpDown 10s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .waves {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
  }

  .bannerImage {
    animation: MoveUpDown 10s linear infinite;
    padding-top: 100px;
  }

  .textSection {
    padding: 0% 0% 0px 0%;
    max-width: 800px;
  }
}

@media (min-width: 1440px) {
  .waves {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
  }

  .bannerImage {
    animation: MoveUpDown 10s linear infinite;
    padding-top: 100px;
  }

  .textSection {
    padding: 0% 8% 0px 0%;
    max-width: 800px;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .waves {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
  }

  .bannerImage {
    animation: MoveUpDown 10s linear infinite;
    padding-top: 60px;
  }

  .textSection {
    padding: 0% 0% 0px 0%;
    max-width: 800px;
  }

  .button-67 {
    margin-top: 0%;
  }

  .homePageHeading {
    font-size: 20px;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  .waves {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
  }

  .bannerImage {
    animation: MoveUpDown 10s linear infinite;
    padding-top: 60px;
  }

  .textSection {
    padding: 0% 0% 0px 0%;
    max-width: 800px;
  }

  .button-67 {
    margin-top: 0%;
  }
}

@media (max-width: 1180px) and (max-height: 820px) {
  .waves {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
  }

  .bannerImage {
    animation: MoveUpDown 10s linear infinite;
    padding-top: 60px;
  }

  .textSection {
    padding: 0% 0% 0px 0%;
    max-width: 800px;
  }

  .button-67 {
    margin-top: 0%;
  }
}

@media (max-width: 1536px) and (max-height: 864px) {
  .waves {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
  }

  .bannerImage {
    animation: MoveUpDown 10s linear infinite;
    padding-top: 60px;
  }

  .textSection {
    padding: 0% 0% 0px 0%;
    max-width: 800px;
  }

  .button-67 {
    margin-top: 0%;
  }
}
@media (max-width: 991px) {
  .textSection {
    padding-top: 70px;
    max-width: 800px;
  }
  .bannerImage {
    padding-top: 0px;
  }
}
