.features {
  background-color: #e7d1b5;
  padding: 3%;
}
.features-main {
  padding: 3%;
}

@media (max-width: 767px) {
  .features-main {
    padding: 5% 0px;
  }
  .features {
    padding-top: 5%;
  }
}
