.login-container {
  background-color: #fff;
  width: 100%;
  transition-property: border-radius, height;
  transition-duration: 1s;
  transition-timing-function: linear;
  background: #344734;
}
.background-color {
  background-color: #344734;
  position: relative;
}
.login-style {
  padding-top: 12%;
}
@media (max-width: 767px) {
  .login-container {
    height: auto;
    background-color: #344734;
  }
  .login-style {
    padding-top: 0%;
  }
}

@media (min-width: 1200px) {
  .waves {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
