@media (max-width: 767px) {
  .menuDashMobile {
    background-color: #344734;
    padding: 32px 15px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    overflow-y: scroll;
    position: fixed;
    z-index: 2;
  }

  body.dark-mode .menuDashMobile {
    border: 1px solid #343434;
    background-color: #121212;
  }
  #menuIdMobile .ant-menu-item {
    padding-left: 14px !important;
  }

  #menuIdMobile .ant-menu {
    color: rgba(255, 255, 255, 0.65);
    background: transparent !important;
  }

  #menuIdMobile .ant-menu .ant-menu-item-selected {
    background-color: #fff !important;
  }

  li.ant-menu-item.ant-menu-item-selected span,
  li.ant-menu-item.ant-menu-item-selected svg {
    color: #000;
  }

  #menuIdMobile .ant-menu-submenu-title {
    padding: 0px 0px 0px 14px !important;
  }

  /* span.ant-menu-title-content {
    color: #fff;
    font-size: 16px;
  } */

  .menuDashMobile {
    max-width: 300px !important;
  }
  .menuDashMobile {
    height: 100% !important;
  }

  .userMenuLogo {
    display: block !important;
  }

  .darkMenuDash {
    display: none !important;
  }
}
