.markitPlace .ant-select-selector {
  border-radius: 30px !important;
}
.menuStyle {
  padding: 4px 0px;
  width: 100%;
}
.menuStyle .ant-btn.ant-btn-default.ant-btn-compact-item.ant-btn-compact-first-item {
  width: 220px;
  text-align: left;
}
.menuStyle .ant-btn-default {
  border-color: #f1f1f1 !important;
  box-shadow: none;
}
body.dark-mode .menuStyle .ant-btn-default {
  border-color: #343434 !important;
  box-shadow: none;
}
.menuStyle .ant-btn {
  border-radius: 30px;
  box-shadow: none;
}
.product-grid {
  height: 100%;
  border: 2px solid #f1a058;
  border-radius: 16px;
  position: relative;
}
.body.dark-mode .product-grid {
  border: 2px solid #686868;
}
body.dark-mode .product-grid {
  border: 1px solid #343434 !important;
}
.imageChat img {
  width: 30px;
}
.offerPopup {
  padding: 7px 10px 5px !important;
  border-radius: 30px !important;
  color: #000 !important;
  font-size: 12px !important;
  background-color: #facca4 !important;
}
.bottomFixed {
  position: absolute;
  bottom: 20px;
  width: 90%;
}
.marginFixed {
  margin-bottom: 60px;
}
.popupStyle .ant-modal-content {
  border: 2px solid #f1a058 !important;
}
.product-grid p,
span {
  font-family: 'Helvetica', sans-serif;
}
