.markitPlace .ant-select-selector {
  border-radius: 30px !important;
}
.product-grid {
  height: 100%;
  border: 2px solid #f1a058;
}
body.dark-mode .product-grid {
  border: 1px solid #343434 !important;
}
.imageChat img {
  width: 30px;
}
.offer {
  padding: 4px 10px;
  border-radius: 30px;
  color: #000;
  font-size: 12px;
}
