.markitPlace .ant-select-selector {
  border-radius: 30px !important;
}
.product-grid {
  height: 100%;
  border: 2px solid #f1a058;
  border-radius: 16px;
  position: relative;
}
.body.dark-mode .product-grid {
  border: 2px solid #686868;
}
body.dark-mode .product-grid {
  border: 1px solid #343434 !important;
}
.imageChat img {
  width: 30px;
}
.offerPopup {
  padding: 4px 10px !important;
  border-radius: 30px !important;
  color: #000 !important;
  font-size: 12px !important;
  background-color: #facca4 !important;
}
.bottomFixed {
  position: absolute;
  bottom: 20px;
  width: 90%;
}
.marginFixed {
  margin-bottom: 60px;
}
.popupStyle .ant-modal-content {
  border: 2px solid #f1a058 !important;
}
