.headerSection {
  background-color: #344734;
}
#customContainer {
  padding: 28px 10px;
  z-index: 9;
}
.nav li {
  display: inline-block;
  padding: 0px 20px 0px 0px;
}
.nav li a.active {
  border-bottom: 2px solid #f1a638; /* Change #000 to your desired color */
}

.logoMain h2 {
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightBold);
  color: var(--primary-color);
}

.nav a {
  padding: 0.5em 0.8em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}
.logoSite {
  max-width: 55%;
  height: 102px;
  object-fit: cover;
}
/*
.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #f1a638;
  border-right: 3px solid #f1a638;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #f1a638;
  border-left: 3px solid #f1a638;
  transform: translate(100%, -50%);
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
} */

.nav a:hover {
  color: #3da35d;
}
/* .ant-drawer-header {
  background-color: #344734 !important;
}
.ant-drawer .ant-drawer-body {
  background-color: #344734 !important;
} */
span.anticon.anticon-close svg {
  color: rgb(241, 166, 56);
}
.ant-drawer .ant-drawer-header {
  border-bottom: none !important;
}

@media (max-width: 991px) {
  .logoSite {
    max-width: 30%;
    height: auto;
    object-fit: cover;
  }
  #customContainer {
    padding: 8px 10px;
    z-index: 9;
  }
}
