<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ticket Assigned</title>
	</head>
	<body style="font-family: Arial, sans-serif">
		<p>Dear <%= userName %>,</p>

		<p>
			<br />
			<strong>Description:</strong> <%= message %>
		</p>

		<p>Please review the details and take necessary actions accordingly.</p>

		<p>
			Best regards,<br />
			Boiler Team
		</p>
	</body>
</html>
